# CA06 - kNN based Recommender Engine

In [62]:
# Import packages
import pandas as pd
import numpy as np
from sklearn.neighbors import NearestNeighbors
# Load dataset
movies = pd.read_csv('https://github.com/ArinB/CA05-kNN/raw/master/movies_recommendation_data.csv', index_col='Movie ID')
# Preview data
movies.head()

                  Movie Name  IMDB Rating  Biography  ...  Mystery  History  Label
Movie ID                                              ...
58        The Imitation Game          8.0          1  ...        0        0      0
8                 Ex Machina          7.7          0  ...        1        0      0
46          A Beautiful Mind          8.2          1  ...        0        0      0
62         Good Will Hunting          8.3          0  ...        0        0      0
97              Forrest Gump          8.8          0  ...        0        0      0

[5 rows x 10 columns]

## Building A Recommender System

In [63]:
# Add data for "The Post"
the_post = {'IMDB Rating':[7.2], 'Biography':1, 'Drama':1, 'Thriller':0, 'Comedy':0, 'Crime':0, 'Mystery':0, 'History':1}
the_post = pd.DataFrame(data=post_data, index=None)

In [64]:
# Select feature variables 
feature_cols = movies.drop(['Movie Name','Label'], axis=1)
X = feature_cols

In [65]:
# Find nearest neighbors
neighbors = NearestNeighbors(n_neighbors=5, algorithm='brute') # n_neighbors=5 to find 5 most similar movies 
neighbors.fit(X)
distances, indices = neighbors.kneighbors(the_post)

In [66]:
# Find top 5 recommendations
print('Top 5 Movie Recommendations for "The Post":\n')
for i in range(len(distances.flatten())):
  print('{0}. {1}'.format(i+1, movies['Movie Name'].iloc[indices.flatten()[i]],distances.flatten()[i]))

Top 5 Movie Recommendations for "The Post":

1. 12 Years a Slave
2. Hacksaw Ridge
3. Queen of Katwe
4. The Wind Rises
5. The Karate Kid